<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>多人游戏</title>
    <link rel="stylesheet" type="text/css" href="css\mystyle.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="size2">
<div class="col-md-8">
    <div id="text_chat" style="display: none">
        <div>当前房间:<span id="room_name"></span></div>
        <div>当前用户:<span id="user_name"></span></div>
        <textarea id="text_chat_content" readonly="readonly" cols="50" rows="15" onfocus="this.scrollTop = this.scrollHeight" >
    </textarea>
        <div>输入框:<input id="in_message" value=""/><button id="btn_send">发送</button></div>
        <div><button id="begin" style="display: none">开始游戏</button></div>
    </div>
    <div id="enter">
        <div id="room">房间名:<input id="in_room" value=""/></div>
        <div id="user">用户:<input id="in_username" value=""/></div>
        <div>
            <button id="btn_create">创建房间</button>
            <button id="btn_join">加入房间</button>
        </div>
    </div>
    <button id="btn_exit" style="display: none">离开房间</button>
    
    <div id = "fire_div" style="display: none">用户名:
        <input id="fire_name" value=""/>
        <button id="btn_fire">踢出房间</button>
    </div>
</div>
<div class="col-md-4">
    <div class="Form" style="display: none">当前房间</div>
    <table border="1" class="Form" style="display: none;">
        <thead>
            <tr>
                <th>用户名</th>
                <th>本轮所用时间(秒)</th>
            </tr>
        </thead>
        <tbody id="userForm">
        </tbody>
    </table>
</div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        var urlPrefix='ws://localhost:8080/many';
        var ws=null;
        var room;
        var username;
        var describes;

        //创建房间点击事件
        $('#btn_create').click(function () {
            if ($('#in_room').val() == "") {
                alert("房间名不能为空");
                return;
            }
            if ($('#in_username').val() == "") {
                alert("用户名不能为空");
                return;
            }

            room=$('#in_room').val();
            username=$('#in_username').val();

            var ajax={
                'username':username,
                'room':room
            };
            var result=true;

            $.ajax({
                url:'/create.ajax',
                type:'post',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async:false,
                data:JSON.stringify(ajax),
                success:function (data) {
                    if (data.result != "success") {
                        result=false;
                        alert(data.result);
                    }
                },
                fail:function () {
                }
            });

            if (!result) {
                return;
            }

            $('#enter').hide();
            $('#text_chat').show();
            $('#btn_exit').show();
            $('#begin').show();

            $('#room_name').text(room);
            $('#fire_div').show();
            // <button id="btn_fire">踢出</button>
            
            var url=urlPrefix+'/'+room+'/'+username;
            ws=new WebSocket(url);

            ws.onopen=function (event) {
            };

            ws.onmessage=function (event) { //监听消息
                //服务端发送的消息
                var obj = JSON.parse(event.data);
                //实现滑动条自动下滑
                var height=$("#text_chat_content")[0].scrollHeight;
                $("#text_chat_content")[0].scrollTop=height;
                if (obj.mode==0){
                    $('#text_chat_content').append(obj.message+'\n');
                } else if (obj.mode == 1) {
                    $('#text_chat_content').append(obj.message+'\n');
                    var users=obj.users;
                    var temp="";
                    $.each(users,function (index, value) {
                        if ($('#score_' + value).text() == "")
                            temp+='<tr><td>'+value+'</td><td id="score_'+value+'" class="score"></td></tr>';
                        else
                            temp+='<tr><td>'+value+'</td><td id="score_'+value+'" class="score">'+$('#score_' + value).text()+'</td></tr>'
                    });
                    $('#userForm').html(temp);
                    $('.Form').show();
                }else if (obj.mode == 2) {
                    if ($('#score_' + obj.username).text() == "") {
                        $('#text_chat_content').append(obj.message+'\n');
                        $('#score_'+obj.username).text(obj.useTime);
                    }
                }else if (obj.mode == 3) {
                    $('#text_chat_content').append(obj.message+'\n');
                    $('.score').text("");
                }else if (obj.mode == 4) {
                    console.log(obj)
                    if(obj.message==username){
                        $('#enter').show();
                        $('#text_chat').hide();
                        $('#btn_exit').hide();
                        $('#text_chat_content').text("");
                        $('.Form').hide();
                        alert("你被踢出房间");
                        ws.close()
                    }
                }
            };

            ws.onclose=function (event) {
            };
        });
        //踢人
        $('#btn_fire').click(function () {
            var firename =$('#fire_name').val()
            // var url=urlPrefix+'/'+room+'/'+firename;
            
            // ws2=new WebSocket(url);
            var ajax={
                'username':firename,
                'room':room
            };

            $.ajax({
                url:'/fire.ajax',
                type:'post',
                async:false,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data:JSON.stringify(ajax),
                success:function (data) {
                    if (data.result == "success"  ) {
                        ws.send(JSON.stringify({
                                message:ajax.username,
                                mode:4
                            }));
                    }else {
                        alert(data.message);
                    }
                }
            });

            // $('#enter').show();
            // $('#text_chat').hide();
            // $('#btn_exit').hide();
            // $('#text_chat_content').text("");

            // if (ws){
            //     ws.close();
            // }
        });

        //加入房间点击事件
        $('#btn_join').click(function () {
            if ($('#in_room').val() == "") {
                alert("房间名不能为空");
                return;
            }
            if ($('#in_username').val() == "") {
                alert("用户名不能为空");
                return;
            }

            room=$('#in_room').val();
            username=$('#in_username').val();

            var ajax={
                'username':username,
                'room':room
            };
            var result=true;

            $.ajax({
                url:'/join.ajax',
                type:'post',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async:false,
                data:JSON.stringify(ajax),
                success:function (data) {
                    if (data.result != "success") {
                        result=false;
                        alert(data.result);
                    }
                },
                fail:function () {
                }
            });

            if (!result) {
                return;
            }

            $('#enter').hide();
            $('#text_chat').show();
            $('#btn_exit').show();

            $('#room_name').text(room);
            $('#user_name').text(username);

            var url=urlPrefix+'/'+room+'/'+username;
            ws=new WebSocket(url);

            ws.onopen=function (event) {
            };

            ws.onmessage=function (event) { //监听消息
                //服务端发送的消息
                var obj = JSON.parse(event.data);
                //实现滑动条自动下滑
                var height=$("#text_chat_content")[0].scrollHeight;
                $("#text_chat_content")[0].scrollTop=height;
                if (obj.mode==0){
                    $('#text_chat_content').append(obj.message+'\n');
                } else if (obj.mode == 1) {
                    $('#text_chat_content').append(obj.message+'\n');
                    var users=obj.users;
                    console.log(obj);
                    var temp="";
                    $.each(users,function (index, value) {
                        if ($('#score_' + value).text() == "")
                            temp+='<tr><td>'+value+'</td><td id="score_'+value+'" class="score"></td></tr>';
                        else
                            temp+='<tr><td>'+value+'</td><td id="score_'+value+'" class="score">'+$('#score_' + value).text()+'</td></tr>'
                    });
                    $('#userForm').html(temp);
                    $('.Form').show();
                }else if (obj.mode == 2) {
                    if ($('#score_' + obj.username).text() == "") {
                        $('#text_chat_content').append(obj.message+'\n');
                        $('#score_'+obj.username).text(obj.useTime);
                    }
                }else if (obj.mode == 3) {
                    $('#text_chat_content').append(obj.message+'\n');
                    $('.score').text("");
                }else if (obj.mode == 4) {
                    if(obj.message==username){
                        $('#enter').show();
                        $('#text_chat').hide();
                        $('#btn_exit').hide();
                        $('#text_chat_content').text("");
                        $('.Form').hide();
                        alert("你被踢出房间");
                        ws.close();
                    }
                }
            };

            ws.onclose=function (event) {
            };
        });

        //客户端发送消息到服务器
        $('#btn_send').click(function () {
            var message=$('#in_message').val();
            if (message == "")
                return;
            var ajax={
                'username':username,
                'room':room,
                'message':message
            };
            $('#in_message').val("");
            if (ws){
                $.ajax({
                    url:'/send.ajax',
                    type:'post',
                    async:true,
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    data:JSON.stringify(ajax),
                    success:function (data) {
                        if (data.result == "success"  ) {
                            // ws.send('[系统]:用户-'+username+'回答正确,用时'+data.useTime+'秒');
                            ws.send(JSON.stringify({
                                message:'[系统]:用户-'+username+'回答正确,用时'+data.useTime+'秒',
                                mode:2,
                                useTime:data.useTime
                            }))
                        }else {
                            // ws.send('['+username+']:'+message);
                            ws.send(JSON.stringify({
                                message:'['+username+']:'+message,
                                mode:0
                            }));
                        }
                        var height=$("#text_chat_content")[0].scrollHeight; //实现滑动条自动下滑
                        $("#text_chat_content")[0].scrollTop=height;
                    }
                });
            }
        });

        //离开聊天室
        $('#btn_exit').click(function () {
            var ajax={
                'username':username,
                'room':room
            };

            $.ajax({
                url:'/exit.ajax',
                type:'post',
                async:false,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data:JSON.stringify(ajax),
                success:function (data) {
                    if (data.result == "success"  ) {
                        if (data.message)
                            ws.send(JSON.stringify({
                                message:data.message,
                                mode:0
                            }));
                    }
                }
            });

            $('#enter').show();
            $('#text_chat').hide();
            $('#btn_exit').hide();
            $('#text_chat_content').text("");

            if (ws){
                ws.close();
            }
        });

        var current;
        //点击开始游戏
        $('#begin').click(function () {
            var ajax={
                'room':room
            };

            $.ajax({
                url:'/begin.ajax',
                type:'post',
                async:true,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data:JSON.stringify(ajax),
                success:function (data) {
                    if (data.result=="success"){
                        $('#begin').text("开始下一局游戏");
                        $('#begin').hide();
                        describes=data.describes;
                        ws.send(JSON.stringify({
                            message:"[系统]:本轮游戏准备开始,每五秒显示下一提示",
                            mode:3
                        }));
                        current=0;
                        setTimeout(describe,5000);
                    } else {
                        alert(data.result);
                    }
                }
            });
        });

        var describe=function () {
            if (current < describes.length) {
                ws.send(JSON.stringify({
                    message:"[系统]:提示"+(current+1)+"--"+describes[current].token,
                    mode:0
                }));
                if (current == describes.length-1) {
                    $('#begin').show();
                    ws.send(JSON.stringify({
                        message:"[系统]:提示结束,请回答",
                        mode:0
                    }));
                }
                current++;
                setTimeout(describe,5000);
            }
        };

        window.onbeforeunload=function (event) {
            return "确认离开房间?";
        };

        //页面离开事件
        window.onunload=function (event) {
            var ajax={
                'username':username,
                'room':room
            };

            $.ajax({
            url:'/exit.ajax',
            type:'post',
            async:false,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data:JSON.stringify(ajax)
            });
        };
    });
</script>
</body>
</html>
