<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>多人游戏</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div id="text_chat" style="display: none">
    <div>当前房间:<span id="room_name"></span></div>
    <div>当前用户:<span id="user_name"></span></div>
    <textarea id="text_chat_content" readonly="readonly" cols="50" rows="15" onfocus="this.scrollTop = this.scrollHeight" >
    </textarea>
    <div>输入框:<input id="in_message" value=""/><button id="btn_send">发送</button></div>
    <div><button id="begin" style="display: none">开始游戏</button></div>
</div>
<div id="enter">
    <div id="room">房间名:<input id="in_room" value=""/></div>
    <div id="user">用户:<input id="in_username" value=""/></div>
    <div>
        <button id="btn_create">创建房间</button>
        <button id="btn_join">加入房间</button>
    </div>
</div>
<button id="btn_exit" style="display: none">离开房间</button>

<script type="text/javascript">
    $(document).ready(function () {

        var urlPrefix='ws://localhost:8080/many';
        var ws=null;
        var room;
        var username;
        var describes;

        //创建房间点击事件
        $('#btn_create').click(function () {
            if ($('#in_room').val() == "") {
                alert("房间名不能为空");
                return;
            }
            if ($('#in_username').val() == "") {
                alert("用户名不能为空");
                return;
            }

            room=$('#in_room').val();
            username=$('#in_username').val();

            var ajax={
                'username':username,
                'room':room
            };
            var result=true;

            $.ajax({
                url:'/create.ajax',
                type:'post',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async:false,
                data:JSON.stringify(ajax),
                success:function (data) {
                    if (data.result != "success") {
                        result=false;
                        alert(data.result);
                    }
                },
                fail:function () {
                }
            });

            if (!result) {
                return;
            }

            $('#enter').hide();
            $('#text_chat').show();
            $('#btn_exit').show();
            $('#begin').show();

            $('#room_name').text(room);
            $('#user_name').text(username);

            var url=urlPrefix+'/'+room+'/'+username;
            ws=new WebSocket(url);

            ws.onopen=function (event) {
            };

            ws.onmessage=function (event) { //监听消息
                //服务端发送的消息
                var obj = JSON.parse(event.data);
                $('#text_chat_content').append(obj.message+'\n');
                //实现滑动条自动下滑
                var height=$("#text_chat_content")[0].scrollHeight;
                $("#text_chat_content")[0].scrollTop=height;
            };

            ws.onclose=function (event) {
            };
        });

        //加入房间点击事件
        $('#btn_join').click(function () {
            if ($('#in_room').val() == "") {
                alert("房间名不能为空");
                return;
            }
            if ($('#in_username').val() == "") {
                alert("用户名不能为空");
                return;
            }

            room=$('#in_room').val();
            username=$('#in_username').val();

            var ajax={
                'username':username,
                'room':room
            };
            var result=true;

            $.ajax({
                url:'/join.ajax',
                type:'post',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async:false,
                data:JSON.stringify(ajax),
                success:function (data) {
                    if (data.result != "success") {
                        result=false;
                        alert(data.result);
                    }
                },
                fail:function () {
                }
            });

            if (!result) {
                return;
            }

            $('#enter').hide();
            $('#text_chat').show();
            $('#btn_exit').show();

            $('#room_name').text(room);
            $('#user_name').text(username);

            var url=urlPrefix+'/'+room+'/'+username;
            ws=new WebSocket(url);

            ws.onopen=function (event) {
            };

            ws.onmessage=function (event) { //监听消息
                //服务端发送的消息
                $('#text_chat_content').append(event.data.message+'\n');
            };

            ws.onclose=function (event) {
            };
        });

        //客户端发送消息到服务器
        $('#btn_send').click(function () {
            var message=$('#in_message').val();
            if (message == "")
                return;
            var ajax={
                'username':username,
                'room':room,
                'message':message
            };
            $('#in_message').val("");
            if (ws){
                $.ajax({
                    url:'/send.ajax',
                    type:'post',
                    async:true,
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    data:JSON.stringify(ajax),
                    success:function (data) {
                        if (data.result == "success"  ) {
                            ws.send('[系统]:用户-'+username+'回答正确,用时'+data.useTime+'秒');
                        }else {
                            ws.send('['+username+']:'+message);
                        }
                        var height=$("#text_chat_content")[0].scrollHeight; //实现滑动条自动下滑
                        $("#text_chat_content")[0].scrollTop=height;
                    }
                });
            }
        });

        //离开聊天室
        $('#btn_exit').click(function () {
            var ajax={
                'username':username,
                'room':room
            };

            $.ajax({
                url:'/exit.ajax',
                type:'post',
                async:false,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data:JSON.stringify(ajax),
                success:function (data) {
                    if (data.result == "success"  ) {
                        if (data.message)
                            ws.send(data.message);
                    }
                }
            });

            $('#enter').show();
            $('#text_chat').hide();
            $('#btn_exit').hide();
            $('#text_chat_content').text("");

            if (ws){
                ws.close();
            }
        });

        var current;
        //点击开始游戏
        $('#begin').click(function () {
            var ajax={
                'room':room
            };

            $.ajax({
                url:'/begin.ajax',
                type:'post',
                async:true,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data:JSON.stringify(ajax),
                success:function (data) {
                    if (data.result=="success"){
                        $('#begin').text("开始下一局游戏");
                        $('#begin').hide();
                        describes=data.describes;
                        ws.send("[系统]:游戏准备开始,每五秒显示下一提示");
                        current=0;
                        setTimeout(describe,5000);
                    } else {
                        alert(data.result);
                    }
                }
            });
        });

        var describe=function () {
            if (current < describes.length) {
                ws.send("[系统]:提示"+(current+1)+"--"+describes[current].token);
                if (current == describes.length-1) {
                    $('#begin').show();
                    ws.send("[系统]:提示结束,请回答");
                }
                current++;
                setTimeout(describe,5000);
            }
        };

        window.onbeforeunload=function (event) {
            return "确认离开房间?";
        };

        //页面离开事件
        window.onunload=function (event) {
            var ajax={
                'username':username,
                'room':room
            };

            $.ajax({
            url:'/exit.ajax',
            type:'post',
            async:false,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data:JSON.stringify(ajax)
            });
        };
    });
</script>
</body>
</html>