<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>单人游戏</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
    <!--隐藏表单存储后台数据-->
    <input type="hidden" th:value="${describes.size()}" id="size">
    <input type="hidden" th:value="${question.getAnswer()}" id="answer">
    <input type="text" id="reply" name="reply">
    <button id="submit">提交</button>
    <div>游戏用时:<span id="timer">0</span></div>
    <div id="result"></div>
    <table>
        <thead>
            <tr>
                <th>序号</th>
                <th>提示</th>
            </tr>
        </thead>
        <tbody th:each="describe:${describes}">
            <tr th:id="'td_'+${describeStat.count}" style="display: none">
                <td th:text="${describeStat.count}" >1</td>
                <td th:if="${describe.getToken()}!=null" th:text="${describe.getToken()}"></td>
                <td th:unless="${describe.getToken()}!=null"><img th:src="${describe.getPhotoPath()}"></td>
            </tr>
        </tbody>
    </table>
    <div id="end">每五秒显示下一提示</div>
    <div>
        <button onclick="javascript:window.history.back(-1);">返回</button>
        <a th:href="@{'/single/'+${question.getId()-1}}" style="display: none" class="button"><button th:if="${question.getId()} gt 1">上一题</button></a>
        <a th:href="@{/}" style="display: none" class="button"><button>首页</button></a>
        <a th:href="@{'/single/'+${question.getId()+1}}" style="display: none" class="button"><button th:if="${question.getId()} lt ${count}">下一题</button></a>
    </div>
<script th:inline="javascript">
    $(document).ready(function () {
        var time = 0;
        var timeout = setInterval(function () {
            time++;
            $("#timer").text(time);
        }, 1000);  //开始计时

        var answer= $('#answer').val(); //获取结果
        $('#submit').click(function () {    //结果认证
            var reply=$('#reply').val();
            if (reply==""){
                $('#result').text("回答不能为空!");
            } else if (reply==answer){
                clearInterval(timeout);
                $('#reply').attr("disabled","disabled");
                $('#result').text("回答正确!");
            } else{
                $('#result').text("回答错误,请重试!");
            }
        });

        var size=$('#size').val();  //获取描述数组长度
        var current=1;
        $('#td_'+current).fadeIn(1000);
        current++;

        function run() {    //提示显示
            if (current <= size) {
                $('#td_'+current).fadeIn(1000);
                if (current == size){
                    $('#end').text("提示结束.请回答");
                    $('.button').fadeIn(1000);
                }
                setTimeout(run,5000);
                current++;
            }
        }
        if(current > size) {
            $('#end').text("提示结束.请回答");
            $('.button').fadeIn(1000);
        }else {
            setTimeout(run,5000);
        }
    });
</script>
</body>
</html>