<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模式选择</title>
    <link rel="stylesheet" type="text/css" href="css\mystyle.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

</head>
<body>
<div class="size2">
    <p></p>
    <form  id="form" action="#" onsubmit="validate()" method="post">
        <label>指定题目编号: </label><input id="id" name="id" type="text" value="" style="height: 20pt">
        <input type="submit" value="开始游戏">
    </form>
    <p></p>
    <div>
        <a href="/single"><button>单人随机游戏</button></a>
        <button onclick="javascript:window.history.back(-1);">返回首页</button>
    </div>
</div>
<script type="text/javascript">
    var validate=function () {
        var val=$('#id').val();
        if (val == "") {
            alert('编号不能为空');
            return false;
        }
        $('#form').attr('action',"/single/"+val);
        $('#form').submit();
        return true;
    }
</script>
</body>
</html>
