<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8">
    <title>Insert title here</title>
    <link rel="stylesheet" type="text/css" href="zyupload.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="zyupload.js"></script>
</head>
<body>
<div id="demo" class="demo"></div>
</body>
<script type="text/javascript">
    var photoPath = 'http://localhost:8088/insertPhoto';
    var targetFile = 'insertPhoto';
    $(function(){
        // 初始化插件
        $("#demo").zyUpload({
            width            :   "100%",                 // 宽度
            height           :   "400px",                 // 宽度
            itemWidth        :   "150px",                 // 文件项的宽度
            itemHeight       :   "210px",                 // 文件项的高度
            url              :  photoPath,  // 上传文件的路径
            fileType         :   ["jpg","png","PNG","JPG"],// 上传文件的类型
            multiple         :   false,                    // 是否可以多个文件上传
            dragDrop         :   true,                    // 是否可以拖动上传文件
            del              :   true,                    // 是否可以删除文件
            finishDel        :   false,  				  // 是否在上传文件完成后删除预览
            /* 外部获得的回调接口 */
            onSelect: function(files, allFiles){                    // 选择文件的回调方法
                console.info("当前选择了以下文件：");
                console.info(files);
                targetFile = files[0].name;
                console.info("之前没上传的文件：");
                console.info(allFiles);
            },
            onDelete: function(file, surplusFiles){                     // 删除一个文件的回调方法
                console.info("当前删除了此文件：");
                console.info(file);
                console.info("当前剩余的文件：");
                console.info(surplusFiles);
            },
            onSuccess: function(file,response){                    // 文件上传成功的回调方法
                console.info("此文件上传成功：");
                console.info(file);
            },
            onFailure: function(file){                    // 文件上传失败的回调方法
                console.info("此文件上传失败：");
                console.info(file);
            },
            onComplete: function(responseInfo){           // 上传完成的回调方法
                console.info("文件上传完成");
                console.info(responseInfo);
                insertPhoto();
            }
        });
    });
    function insertPhoto(){
        var myData={
            "photoPath":targetFile
        };
        $.ajax({
            url:"/insertPhoto.ajax",
            traditional: true,
            type:'POST',
            async:false,
            data : myData,
            success : function(data) {
                if (data == "true") {
                    alert("添加成功");
                    setTimeout(function () {
                        window.location.href="/userAddGameContent";
                    },1000);
                } else {
                    alert("添加失败");
                }
            },
            error : function() {
                alert("警告", "请求失败");
            }
        });
    }
</script>
</html>