<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户添加题目</title>
    <link rel="stylesheet" type="text/css" href="css\mystyle.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
    <div class="size2">
<div>
    <div>添加答案：<input id="add_question" value=""></div>
    <div>添加提示：<input id="add_describe" value=""></div>
    <div class="file-box">
        <label class="change-photo-btn">
            <input type="file" value="" name="file" id = "input_file"
                   accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" onchange="imgPreview(this,0)" >
        </label>
    </div>
    <p></p>
    <div>
        <button id="add_title">添加</button>
        <button id="remove_title">移除上一次</button>
        <table id="table_show">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>已添加提示</th>
                </tr>
            </thead>
            <tbody id="tbodys">
            </tbody>
        </table>
    </div>
</div>
<div id="question"><button id="add_result">确定添加题目</button></div>
</div>
<script type="text/javascript">
    $('#question').hide();
    var array = [];
    var index = 1;
    $('#add_title').click(function () {
        var value = $('#add_describe').val();
        if(value == "") {
            alert("提示不能为空");
            return;
        }
        $('#question').show();
        $('#add_title').text("继续添加提示");
        array.push(value);
        $("#table_show tbody").append('<tr><td>' + index + '</td><td>' + value + '</td></tr>');
        index ++;
        $('#add_describe').val("");
    });
    $('#remove_title').click(function () {
       if((index - 1) > 0) {
           index --;
           if (index == 1)
               $('#question').hide();
           document.getElementById('tbodys').lastChild.remove();
           array.pop();
       } else {
           alert("当前提示为空");
       }
    });
    $('#add_result').click(function () {
        var result = $('#add_question').val();
        if(result == "") {
            alert("答案不能为空");
            return;
        }
        var myData={
            "describeArray":array,
            "questionResult":result
        };
        $.ajax({
            url:"/saveUserData.ajax",
            traditional: true,
            type:'POST',
            async:false,
            data:myData,
            success:function(data){//AJAX查询成功
                if(data=="false"){
                    alert("添加失败！");
                }else{
                    alert("添加成功,你的题目编号为"+data+",赶紧去试试吧,3s后回到主页");
                    setTimeout(function () {
                        window.location.href="/";
                    },3000);
                }
            }
        });
        $('#add_result').hide();
    });

    function imgPreview(fileDom,i) {
        $('#question').show();
        //判断是否支持FileReader
        if(window.FileReader) {
            var reader = new FileReader();
        } else {
            alert("您的设备不支持图片预览功能，如需该功能请升级您的设备！");
        }
        //获取文件
        var file = fileDom.files[0];
        var imageType = /^image\//;
        //是否是图片
        if(!imageType.test(file.type)) {
            alert("请选择图片！");
            return;
        }
        //读取完成
        reader.onload = function(e) {
            //图片路径设置为读取的图片
            // img.src = e.target.result;
            console.log(document.getElementsByClassName('file-box'));
            $("#table_show tbody").append('<tr><td>' + index + '</td><td><img src='+e.target.result+'></td></tr>');
            index ++;
            console.log('reader',reader)
        };
        reader.readAsDataURL(file);

        var originFile = $('#input_file')[0].files[0]; //获取file input中的File对象
        var newReader = new FileReader();
        newReader.readAsDataURL(originFile);
        var URL = URL || webkitURL;
        var blob = URL.createObjectURL(originFile);
        // 构造新File对象
        var newFile = new File([blob ], Math.round(Math.random()*10000000000).toString() + originFile.name);
        var formData = new FormData();
        formData.append('photo', newFile);

        //ajax请求
        $.ajax({
            type: "post",
            url:  "/insertPhoto.ajax",
            data: formData,
            dataType: 'json',
            enctype: 'multipart/form-data',
            processData: false, // 告诉jQuery不要去处理发送的数据
            contentType: false, // 告诉jQuery不要去设置Content-Type请求头
            xhrFields:{withCredentials:true},
            async: true,    //默认是true：异步，false：同步。
            success: function (data) {
                alert("添加成功");
                var photoPath = '/images/' + newFile.name;
                array.push(photoPath);
            },
            error: function (data) {
                alert("添加失败");
            }
        });
    }
</script>

</body>
</html>
