<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户添加题目</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
<div>
    <div>添加答案：<input id="add_question" value=""></div>
    <div>添加提示：<input id="add_describe" value=""></div>
    <p></p>
    <div>
        <button id="add_title">添加提示</button>
        <button id="remove_title">移除提示</button>
        <table id="table_show">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>已添加提示</th>
                </tr>
            </thead>
            <tbody id="tbodys">
            </tbody>
        </table>
    </div>
</div>
<div id="question"><button id="add_result">确定添加题目</button></div>

<script type="text/javascript">
    $('#question').hide();
    var index = 1;
    var array = [];
    $('#add_title').click(function () {
        var value = $('#add_describe').val();
        if(value == "") {
            alert("提示不能为空");
            return;
        }
        $('#question').show();
        $('#add_title').text("继续添加提示");
        array.push(value);
        $("#table_show tbody").append('<tr><td>' + index + '</td><td>' + value + '</td></tr>');
        index ++;
        $('#add_describe').val("");
    });
    $('#remove_title').click(function () {
       if((index - 1) > 0) {
           index --;
           document.getElementById('tbodys').lastChild.remove();
           array.pop();
       } else {
           alert("当前提示为空");
       }
    });
    $('#add_result').click(function () {
        var result = $('#add_question').val();
        if(result == "") {
            alert("答案不能为空");
            return;
        }
        var myData={
            "describeArray":array,
            "questionResult":result
        };
        $.ajax({
            url:"/member/saveUserData.ajax",
            traditional: true,
            type:'POST',
            async:false,
            data:myData,
            success:function(data){//AJAX查询成功
                if(data=="false"){
                    alert("添加失败！");
                }else{
                    alert("添加成功,你的题目编号为"+data+",赶紧去试试吧,3s后回到主页");
                    setTimeout(function () {
                        window.location.href="/";
                    },3000);
                }
            }
        });
        $('#add_result').hide();
    });
</script>

</body>
</html>